@import "../../layout/var";

.inform{
    &__head{
        padding: 32px 40px;
        border-bottom: 1px solid #EEEEEE;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 767px){
            padding: 20px 15px;
        }
        &__text{
            color: #595858;
            font-size: 24px;
            margin: 0;
            padding-right: 15px;
            margin-right: auto;
            font-weight: $b;
            &--with-butt{
                padding-top: 5px;
                padding-bottom: 5px;
            }
            
            @media (max-width: 767px){
                font-size: 20px;
            }
            &--small-font{
                font-size: 18px;
                @media (max-width: 767px){
                    font-size: 16px;
                }
            }
        }
        &__icons{
            display: flex;
            align-content: center;
            &__date-time{
                margin-bottom: 0;
                font-size: 14px;
                font-weight: $b;
                color: #595858;
                margin-right: 25px;
                display: flex;
                align-items: center;
                &:last-child{
                    margin-right: 0;
                }
                i{
                    margin-right: 14px;
                    font-size: 16px;
                    
                    &:before{
                      background: -webkit-gradient(linear, left top, left bottom, from(#C20026), to(#FF0075));
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        width: 100%;
                        margin: 0;
                    }
                }
                
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    
}
.quote-wr{
    padding: 40px;
    @media (max-width: 767px){
        padding: 20px 15px;
    }
    &__text{
        font-size: 18px;
        margin-bottom: 60px;
        @media (max-width: 767px){
            margin-bottom: 30px;
            font-size: 16px;
        }
        
    }
    &__quoter-name{
        font-size: 18px;
        color: #595858;
        font-weight: $b;
        margin-bottom: 0;
        text-align: right;
        @media (max-width: 767px){
            font-size: 16px;
        }
    }
}
.notif-wr{
    &__item{
        padding: 32px 40px;
        border-bottom: 1px solid #EEEEEE;
        @media (max-width: 767px){
            padding: 20px 15px;
        }
        &:last-child{
            border-bottom: 0;
        }
        p{
            font-size: 18px;
            margin-bottom: 0;
            @media (max-width: 767px){
                font-size: 16px;
            }
            a,span{
                color: #C20026;
                font-weight: $b;
            }
        }
    }
}
.some-data-wr{
    &__top{
        padding: 21px 40px;
        display: flex;
        border-bottom: 1px solid #EEEEEE;
        
        @media (max-width: 1199px){
            display: block;
        }
        @media (max-width: 767px){
            padding: 20px 15px;
        }
        &__item{
             
            &:first-child{
                margin-right: 40px;
                .descr{
                    color: #000;
                }
                @media (max-width: 1199px){
                    margin-bottom: 20px;
                }
            }
            .descr{
                font-size: 14px;
                font-weight: $b;
                color: #595858;
            }
            .price{
                font-size: 36px;
                color: #595858;
                font-weight: $b;
                margin-bottom: 0;
                display: flex;
                align-items: flex-end;
                position: relative;
                .count-data__input{
                    width: 100%;
                    max-width: 262px;
                    border-radius: 0;
                    border: 1px solid #EEEEEE;
                    outline: none;
                    padding-left: 30px;
                     -moz-appearance: textfield;
                    &:hover{
                        -moz-appearance: number-input;
                    }
                    &:focus{
                        -moz-appearance: number-input;
                    }
                    &::-webkit-outer-spin-button{
                        -webkit-appearance: none;
                        margin: 0; 
                    }
                    &::-webkit-inner-spin-button{
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
                i{
                    position: relative;
                    top: -13px;
                    font-size: 15px;
                    color: #C20026;
                    margin-right: 14px;
                    display: block;
                    
                }
            }
        }
    }
    &__bott{
        padding: 21px 40px;
        @media (max-width: 767px){
            padding: 20px 15px;
        }
        &__day{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 20px;
            @media (max-width: 767px){
                display: block;
            }
            .bott-day-title{
                color: #595858;
                font-size: 18px;
                font-weight: $b;
                margin-bottom: 0;
                @media (max-width: 767px){
                    margin-bottom: 10px;
                }
            }
            .bott-day-cal{
                @media (max-width: 767px){
                    display: flex;
                }
                .bott-day-cal__text{
                    margin-bottom: 0;
                    font-size: 14px;
                    position: relative;
                    padding-right: 30px;
                    &:after{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 7px 6.5px 0 6.5px;
                        border-color: #c20027 transparent transparent transparent;
                        
                    }
                }
            }
        }
        &__data{
            display: flex;
            padding-top: 10px;
            @media (max-width: 1199px){
                flex-wrap: wrap;
                
            }
            &__item{
             
             
                padding-right: 20px;
                @media (max-width: 1199px){
                    width: 50%;
                    margin-bottom: 20px;
                }
                @media (max-width: 767px){
                    padding-right: 0;
                    width: 100%;
                }
                .title-data{
                    color: #817F7F;
                    font-size: 12px;
                    margin-bottom: 7px;
                }
                .count-data{
                    font-size: 36px;
                    margin-bottom: 0;
                    color: #595858;
                    font-weight: $b;
                    display: flex;
                    align-items: flex-end;
                    position: relative;
                    &__input{
                        width: 100%;
                        max-width: 262px;
                        border-radius: 0;
                        border: 1px solid #EEEEEE;
                        outline: none;
                        padding-left: 30px;
                         -moz-appearance: textfield;
                        &:hover{
                            -moz-appearance: number-input;
                        }
                        &:focus{
                            -moz-appearance: number-input;
                        }
                        &::-webkit-outer-spin-button{
                            -webkit-appearance: none;
                            margin: 0; 
                        }
                        &::-webkit-inner-spin-button{
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                    i{
                        font-size: 15px;
                        color: #C20026;
                        margin-right: 14px;
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 5px;
                        transform: translateY(-50%);
                    }
                }
            }
        }
        &__save{
            padding-top: 35px;
            padding-bottom: 15px;
            text-align: center;
            
            @media (max-width: 767px){
                padding: 0;
            }
            &__butt{
                font-size: 12px;
                color: #000;
                background: transparent;
                border: none;
                outline: none;
                transition: 0.3s;
                &:hover{
                    color: #C20026;
                }
                
            }
        }
    }
}
.grapf-wr{
    padding: 32px 40px;
    @media (max-width: 767px){
        padding: 20px 15px;
    }
    &__title{
        color: #595858;
        font-size: 18px;
        margin-bottom: 24px;
        font-weight: $b;
    }
    &__cat{
        &__title{
            display: flex;
            p{
                margin-bottom: 0;
                font-size: 14px;
                position: relative;
                padding-right: 25px;
                &:after{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 7px 6.5px 0 6.5px;
                    border-color: #c20027 transparent transparent transparent;

                }
            }
        }
        &__grapf{
            padding-top: 40px;
            text-align: center;
            font-size: 24px;
            @media (max-width: 767px){
                font-size: 16px;
                margin-bottom: 15px;
            }
        }
    }
}

.player-wr{
    padding: 13px 40px 25px 40px;
    @media (max-width: 767px){
        padding: 13px 15px 25px 15px;
    }
    &__item{
        display: flex;
        margin-bottom: 16px;
        align-items: center;
        @media (max-width: 1050px){
            flex-wrap: wrap;
        }
        &__name{
            width: 265px;
            flex-shrink: 0;
            display: flex;
            align-items: flex-start;
            align-items: center;
            
            @media (max-width: 1199px){
                width: 215px;
            }
            @media (max-width: 1050px){
                width: 100%;
            }
            &--meditation{
                width: 71px;
            }
            .icon-audio-wr{
                width: 55px;
                height: 55px;
                border-radius: 4px;
                margin-right: 16px;
                flex-shrink: 0;
                background-image: linear-gradient(to top,  #FF0075,#C20026);
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    font-size: 24px;
                    color: #fff;
                }
            }
            
            .artist-info{
                width: 100%;
                min-width: 0;
                padding-right: 30px;
                @media (max-width: 1199px){
                    padding-right: 15px;
                }
                &__name-s{
                    font-size: 14px;
                    font-weight: $b;
                    margin-bottom: 8px;
                     white-space: nowrap; 
                    overflow: hidden; 
                    text-overflow: ellipsis;
                }
                &__name{
                    margin-bottom: 0;
                    white-space: nowrap; 
                    overflow: hidden; 
                    text-overflow: ellipsis;
                }
            }
        }
        &__track{
            width: 100%;
            &__meditation{
                font-size: 14px;
                margin-bottom: 0;
                @media (max-width: 1050px){
                    padding-top: 10px;
                }
            }
            .audiojs{
                width: 100%;
                background: transparent;
                box-shadow: none;
                font-family: $font;
                display: flex;
                align-items: center;
                .time{
                    border: none;
                    text-shadow: none;
                    width: 103px;
                    flex-shrink: 0;
                    color: #000;
                    font-size: 14px;
                    padding-left: 0;
                    @media (max-width: 767px){
                        width: 90px;
                    }
                    em,
                    strong{
                        color: #000;
                        font-size: 14px;
                    }
                }
                .play-pause{
                    border: none;
                    overflow: visible;
                    padding: 0;
                    flex-shrink: 0;
                }
                .play{
                    background-image: url(../img/play.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .pause{
                    background-image: url(../img/pause.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 20px;
                }
                .scrubber{
                    width: 100%;
                    height: 3px;
                    background: #C4C4C4;
                    border-radius: 50px;
                    border: none;
                    cursor: pointer;
                    margin-left: 0;
                    @media (max-width: 1050px){
                        margin-left: 0;
                    }
                }
                .progress{
                    height: 3px;
                    border-radius: 50px;
                    background: #C20026;
                    cursor: pointer;
                }
                .loaded{
                    display: none;
                }
            }
        }
    }
}
.webinar-wr{
    padding: 24px 40px 32px 40px;
    @media (max-width: 767px){
        padding: 20px 15px;
    }
    &__top-info{
        margin-bottom: 25px;
        display: flex;
        align-items: flex-start;
        @media (max-width: 767px){
            display: block;
        }
        &__ava{
            width: 52px;
            height: 52px;
            flex-shrink: 0;
            margin-right: 16px;
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            @media (max-width: 767px){
                margin: 0 auto 15px auto;
            }
        }
        &__name{
            width: 100%;
            p{
                font-size: 14px;
                font-weight: $b;
                color: #595858;
                margin-bottom: 11px;
                &:last-child{
                    margin-bottom: 0;
                }
                span{
                    color: #C20026;
                }
            }
        }
    }
    &__bott-info{
        &__title{
            font-size: 14px;
            font-weight: $b;
            margin-bottom: 11px;
        }
        &__descr{
            font-size: 14px;
            margin-bottom: 26px;
        }
        
    }
}

.consults-wr{
    padding: 24px 40px 32px 40px;
    @media (max-width: 767px){
        padding: 20px 15px;
    }
    &__top-info{
        margin-bottom: 25px;
        display: flex;
        align-items: flex-start;
        @media (max-width: 767px){
            display: block;
        }
        &__ava{
            width: 193px;
            height: 193px;
            flex-shrink: 0;
            margin-right: 59px;
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            @media (max-width: 1199px){
                width: 150px;
                height: 150px;
            }
            @media (max-width: 767px){
                margin: 0 auto 15px auto;
            }
        }
        &__name-descr{
            width: 100%;
            padding-top: 20px;
            @media (max-width: 1199px){
                padding-top: 0;
            }
            &__name{
                font-size: 18px;
                font-weight: $b;
                color: #595858;
                margin-bottom: 10px;
            }
            &__descr{
                line-height: 26px;
                font-size: 14px;
                text-align: justify;
            }
        }
    }
    &__bott-info{
        &__quote{
            text-align: justify;
            color: #817F7F;
            margin-bottom: 32px;
            font-size: 14px;
        }
        &__quoter-name{
            font-size: 14px;
            color: #595858;
            font-weight: $b;
            text-align: right;
            margin-bottom: 0;
        } 
    }
}
.video-wr{
    &__iframe{
        iframe{
            width: 100%;
            height: 466px;
           
            @media (max-width: 1199px){
                height: 350px;
            }
            @media (max-width: 767px){
                height: 225px;
            }
        }
    }
    &__descr{
        padding: 24px 40px;
        @media (max-width: 767px){
            padding: 20px 15px;
        }
        &__title{
            margin-bottom: 10px;
            color: #595858;
            font-size: 18px;
            font-weight: $b;
        }
        &__text{
            text-align: justify;
            font-size: 14px;
            margin-bottom: 0;
        }
    }
}

.book-wr{
    display: flex;
    padding: 32px 40px;
    @media (max-width: 767px){
        padding: 20px 15px;
        display: block;
        
    }
    &__image{
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 225px;
        background-position: top center;
        width: 170px;
        flex-shrink: 0;
        @media (max-width: 767px){
            margin: 0 auto 20px auto;
        }
    }
    &__description{
        display: flex;
        width: 100%;
        flex-direction: column;
        padding-left: 50px;
        @media (max-width: 767px){
            padding-left: 0;
        }
        &__top{
            width: 100%;
            margin-bottom: 25px;
            &__title{
                font-weight: $b;
                font-size: 14px;
                margin-bottom: 24px;
            }
            &__text{
                 font-size: 14px;   
            }
        }
        &__bott{
            margin-top: auto;
            width: 100%;
        }
    }
}

.useful-info{
    display: flex;
    @media (max-width: 767px){
        display: block;
    }
    &__image{
        background-size: cover;
        min-height: 400px;
        background-position: center;
        width: 240px;
        flex-shrink: 0;
        @media (max-width: 1199px){
            max-height: 400px;
            
        }
        @media (max-width: 767px){
            margin: 0 auto 20px auto;
            min-height: 350px;
        }
        &--quest{
            max-height: 355px;
            min-height: 325px;
            @media (max-width: 1199px){
                max-height: 325px;

            }
        }
    }
    &__description{
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 45px 40px 32px 40px;
        @media (max-width: 1199px){
            padding: 20px 15px;
        }
        &__top{
            width: 100%;
            margin-bottom: 25px;
            &__title{
                font-weight: $b;
                font-size: 14px;
                margin-bottom: 24px;
            }
            &__text{
                 font-size: 14px; 
                line-height: 24px;
                text-align: justify;
            }
        }
        &__bott{
            margin-top: auto;
            width: 100%;
        }
    }
}
.useful-info-text{
    padding: 33px;
    p{
        font-size: 14px;
        margin-bottom: 24px;
        text-align: justify;
        line-height: 26px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.ads-wr{
    padding: 24px 40px 32px 40px;
    @media (max-width: 767px){
        padding: 20px 15px;
    }
    &__text{
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 32px;
    }
    
    &__links{
        margin-bottom: 10px;
        &__copy{
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            @media (max-width: 1199px){
                align-items: flex-end;
            }
            p{
                display: flex;
                align-items: center;
                white-space: nowrap;
                min-width: 0;
                margin-bottom: 0;
                @media (max-width: 1199px){
                    white-space: normal;
                }
                .link-text{
                    padding-left: 10px;
                    @media (max-width: 1199px){
                        padding-left: 0;
                        margin-top: 5px;
                    }
                }
                @media (max-width: 1199px){
                    display: block;
                }
            }
            .link-text{
               min-width: 0;
                white-space: nowrap; 
                    overflow: hidden; 
                    text-overflow: ellipsis;
                display: block;
                font-size: 14px;
                color: #000;
                font-weight: $b;
            }
            .icon-link{
                flex-shrink: 0;
                background: transparent;
                outline: none;
                border: none;
                display: block;
                padding: 0 6px;
                &.copy-js{
                    &.copyed{
                        opacity: 0.5;
                    }
                }
                i{
                    color: #C20026;
                    &.icon-telegram{
                        color: #2CA3E0;
                    }
                }
            }
        }
    }
}
.hidden-input{
    border: 0; 
    clip: rect(0 0 0 0); 
    clip-path: incet(50%); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px; 
    white-space: nowrap; 
}
.flex-audio-meditation{
    display: flex;
    align-items: center;
    .audio-track{
        width: 100%;
    }
    .download{
        flex-shrink: 0;
        width: 24px;
        margin-left: 12px;
        @media (max-width: 767px){
            margin-left: 0;
        }
        a{
            font-size: 24px;
            color: #B8B8B8;
        }
    }
}
.datepicker-panel > ul > li.picked, .datepicker-panel > ul > li.picked:hover{
    color: #C20026;
}
.datepicker-top-left, .datepicker-top-right {
    border-top-color: #C20026;
}
.datepicker-top-left::before, .datepicker-top-right::before {
    border-bottom-color: #C20026;
}
.journal-wr{
    padding: 16px 40px 32px 40px;
    @media (max-width: 1199px){
        padding: 20px 15px;
    }
    &__time{
        margin-bottom: 19px;
        label{
            padding-right: 16px;
            font-weight: $b;
            font-size: 14px;
        }
        input{
            border: none;
            outline: none;
            border-bottom: 1px solid #C4C4C4;
            padding: 5px 0;
        }
    }
    &__date-wr{
        position: relative;
        i{
            position: absolute;
            top: 5px;
            left: 0;
            display: block;
            &:before{
                background: -webkit-gradient(linear, left top, left bottom, from(#C20026), to(#FF0075));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    &__date{
        display: block;
        border: none;
        background-color: transparent;
        font-weight: $b;
        font-size: 14px;
        margin-bottom: 16px;
        padding: 5px 24px 5px 32px;
        outline: none;
        position: relative;
        
        &::-webkit-input-placeholder {
            color:#000;
        }
        &::-moz-placeholder{
            color:#000;
        }
        &:-moz-placeholder{
            color:#000;
        }
        &:-ms-input-placeholder{
            color:#000;
        }
    }
    &__title-form{
        font-size: 14px;
        font-weight: $b;
        margin-bottom: 19px;
    }
    &__input-msg{
        &__inp{
            outline: none;
            display: block;
            width: 100%;
            margin-bottom: 16px;
            border: 1px solid transparent;
            border-radius: 0;
            background: #EEEEEE;
            color: #000;
            transition: 0.3s;
            padding: 8px 24px;
            resize: none;
            &:focus{
                border: 1px solid #EEEEEE;
                background: #fff;
            }
            &::-webkit-input-placeholder {
                color:#817F7F;
            }
            &::-moz-placeholder{
                color:#817F7F;
            }
            &:-moz-placeholder{
                color:#817F7F;
            }
            &:-ms-input-placeholder{
                color:#817F7F;
            }
        }
    }
    
    &__textarea{
        outline: none;
        display: block;
        width: 100%;
        height: 80px;
        margin-bottom: 16px;
        border: 1px solid transparent;
        border-radius: 0;
        background: #EEEEEE;
        color: #000;
        transition: 0.3s;
        padding: 16px 24px;
        resize: none;
        &:focus{
            border: 1px solid #EEEEEE;
            background: #fff;
        }
        &:last-child{
            margin-bottom: 32px;
        }
        &::-webkit-input-placeholder {
            color:#817F7F;
        }
        &::-moz-placeholder{
            color:#817F7F;
        }
        &:-moz-placeholder{
            color:#817F7F;
        }
        &:-ms-input-placeholder{
            color:#817F7F;
        }
    }
}
.select2-search--dropdown{
    display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #c20027 transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #c20027 transparent;
    
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #c20027;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #eee;
}
.profile-wr{
    &__top{
       padding: 32px 40px;
        border-bottom: 1px solid #EEEEEE;
        @media (max-width: 767px){
            padding: 20px 15px;
        }
        &__inform{
            
            display: flex;
            align-items: flex-start;
            @media (max-width: 767px){
                display: block;
               
            }
            &__text{
                margin-bottom: 0;
                font-size: 18px;
                flex-shrink: 0;
                margin-right: 28px;
                @media (max-width: 767px){
                     margin-bottom: 15px;
                }
            }
            &__info{
                width: 100%;
                span{
                    font-size: 14px;
                    font-weight: $b;
                    margin-right: 35px;
                    white-space: nowrap;
                    i{
                        margin-right: 8px;
                        color: #C20026;
                    }
                }
            }
        }
    }
    &__bott{
        padding: 25px 25px 32px 25px;
        @media (max-width: 767px){
            padding: 20px 0;
        }
        &__title{
            padding: 0 15px;
            font-size: 14px;
            color: #595858;
            margin-bottom: 15px;
            font-weight: $b;
        }
        &__flex{
            display: flex;
            margin-bottom: 14px;
            flex-wrap: wrap;
            &__item{
                width: 33.33%;
                padding: 0 15px;
                @media (max-width: 1199px){
                    width: 100%;
                }
                @media (max-width: 991px){
                    width: 33.33%;
                }
                @media (max-width: 767px){
                    width: 100%;
                }
                input{
                    outline: none;
                    display: block;
                    width: 100%;
                    margin-bottom: 10px;
                    border: 1px solid transparent;
                    border-radius: 0;
                    background: #EEEEEE;
                    color: #000;
                    transition: 0.3s;
                    padding: 7px 16px;
                    font-size: 14px;
                    &:focus{
                        border: 1px solid #EEEEEE;
                        background: #fff;
                    }
                    &::-webkit-input-placeholder {
                        color:#817F7F;
                    }
                    &::-moz-placeholder{
                        color:#817F7F;
                    }
                    &:-moz-placeholder{
                        color:#817F7F;
                    }
                    &:-ms-input-placeholder{
                        color:#817F7F;
                    }
                }
            }
        }
        &__padd{
            padding: 0 15px;
        }
    }
    
}
