@import "layout/var";

body{
    font-family: $font;
    font-weight: $r;
}


.main-m-w{
    max-width: 1405px;
    padding: 0 30px;
    margin: 0 auto;
    @media (max-width: 767px){
        padding: 0 15px;
    }
}